@{
    Layout =null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <style>
        *{padding: 0px;margin: 0px; font-size: 13px;font-family:"微软雅黑","SimSun","Arial Narrow";}
    </style>
    <link href="../../Content/Css/Switch/bootstrap-switch.css" rel="stylesheet" type="text/css" /> 
    <link href="../../Content/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Css/button.css" rel="stylesheet" type="text/css" />   
    <link href="../../Content/Css/Upload/basic.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Css/Upload/dropzone.css?r=32" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>        
    <script src="../../Scripts/layer.js?r=2" type="text/javascript"></script>
    <script src="../../Scripts/dropzone.js?r=211" type="text/javascript"></script>
    <script src="../../Scripts/jquery.form.js" type="text/javascript"></script>
           
    <script src="../../Scripts/Switch/bootstrap-switch.js" type="text/javascript"></script>   
    <style type="text/css">
        table
        {
            width:100%;
            height:250px;
            text-align:center;
           
            
        }
        tr 
        {
           
             height:20px;    
        }
        
        .tdText
        {
             text-align:left;
             width:40%; 
             vertical-align:top;
            
             
        }
        
   

        .accountinfo p{width:400px;padding-bottom: 10px;}
        .accountinfo p label{display: block;height:26px;line-height: 26px;}
       
        input{border: 1px solid #ccc;border-radius: 4px;height: 24px;line-height: 24px;vertical-align:middle;}
        input[type=checkbox]{border: 1px solid #fff;}
        input[type="text"]:focus,
         input[type="text"]
        {
             width:50%; 
             height:30px;
             padding:2px; 
               
        }
        .vaild
        {
            position: absolute;
            display:block;   
         }
        .vaildHide
        {
            display:none;   
         }
    </style>
    <script>
        function CheckField(id) {
            var ele = $("#"+id).val();
            if (ele == "") {
                $("#" + id + "Msg").html("<font color='red'>该字段不能为空！</font>");
                return false;
            } else {
                $("#" + id + "Msg").html('');
                return true;
            }

        };
        function CheckField1(id, colName,title) {
            var key = $("#" + id).val();
            if (key == "") {
                var imageEle = $("#"+id+"Img");
                imageEle.addClass("vaildHide");
                imageEle.removeClass("vaild");
                $("#" + id + "Msg").html("<font color='red'>该字段不能为空！</font>");
                return false;
            } else {
                $("#" + id + "Msg").html('');
                var url = "/FReportMain/Validation", data = { col: colName, value: key };
                if ($('#txtGUID').val() != "") {
                    url = "/FReportMain/ValidationEnt";
                    data.Id = $('#txtGUID').val();
                }
                $.ajax({
                    url: url,
                    data: data,
                    dataType: "JSON",
                    type: "POST",
                    success: function (data) {
                        //todo 处理效果后期改
                        // $("#txtGJZMsg").html("<font color='red'>关键字已经重复！</font>");
                        var imageEle = $("#" + id + "Img"), imgSrc = "../../Content/Img/imageError.jpg";
                        imageEle.removeClass("vaildHide");
                        if (data.result == 1) {
                            imgSrc = "../../Content/Img/imageSuccess.jpg";
                            imageEle.addClass('vaild');
                            imageEle.attr("src", imgSrc);
                            return true;
                        }
                        else {
                            $("#" + id + "Msg").html("<font color='red'>" + title + "已经存在！</font>");
                            imageEle.addClass('vaild');
                            imageEle.attr("src", imgSrc);
                            return false;
                        }

                    },
                    error: function () {
                        var imageEle = $("#" + id + "Img");
                        imageEle.addClass('vaild');
                        imageEle.attr("src", imgSrc);
                        $("#" + id + "Msg").html("<font color='red'>校验失败！</font>");

                    }

                });
            }
        };
        function CheckName(key, callback) {
            var imageEle1 = $("#txtBBMC"), imgEle2 = $("#txtGJZ"),src="../../Content/Img/imageSuccess.jpg";
            var src1 = imageEle1.attr("src"), src2 = imgEle2.attr("src");
            if ((src1==undefined&&src2==undefined)||(src1==src &&src2==src)) {
                callback();
            }
        };
        function logoupload(src) {
            var form = $("form[id=ifrom]");
            if (src == "" || undefined) return;
            var options = {
                url: '/FReportMain/Upload2',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    var m = eval("(" + data + ")");
                    if (m.err == 0) {
                        var ele = $("#logo");
                        ele.attr("src", "../temp/" + m.name);
                        $("#txtLogo").val(m.name);
                    }
                    else {
                        alert(m.message);
                    }
                }
            }
            form.ajaxSubmit(options);
        };
        var PageAction = function () {
            function GoBack() {
                if (window.parent.init_page != undefined) {
                    window.parent.init_page();
                }
                else {
                    var urlaccount = '/FReportMain/Grid';
                    window.parent.ControlIFrame(urlaccount);
                }

            }
            function Look() {

                var url = $('#txtUrl').val();
                var hostval = window.location.host;
                if (url) {
                    if (hostval.indexOf('localhost') == 0) {
                        window.open(url + "?r=" + 10 * Math.random());
                    }
                    else if (url.indexOf('http') == 0) {
                        window.open(url + "?r=" + 10 * Math.random());
                    }
                    else {
                        window.open("http://" + url + "?r=" + 10 * Math.random());
                    }
                }
                else {
                    $("#txtUrlMsg").html("<font color='red'>无上传文件，请上传文件后再预览！</font>");
                }

            }
            function Save() {

                if (!CheckField('txtGJZ') || !CheckField('txtBBMC') || !CheckField('txtUrl')) {
                    return;
                }
                CheckName($('#txtGJZ').val(), function () {
                    var data = { Id: $('#txtGUID').val() }
                    data.ReportKey = $('#txtGJZ').val();
                    data.Title = $('#txtBBMC').val();
                    data.CreateUrl = $('#txtUrl').val();
                    data.Logo = $('#txtLogo').val();
                    data.Stoped = !$("#CheckSwitch").bootstrapSwitch("state");
                    $.ajax({
                        url: "/FReportMain/Save",
                        data: data,
                        dataType: "JSON",
                        type: "POST",
                        success: function (data) {
                            if (data != null) {
                                if (data.result == 0) {
                                    layer.msg("操作成功！");
                                    new PageAction().GoBack();
                                }
                                else {
                                    layer.msg(data.msg);
                                }
                            }
                            else {
                                layer.msg("保存失败！");
                            }
                        }

                    });
                });               /*todo*/

            }
            return {
                GoBack: GoBack,
                Save: Save,
                Look: Look
            }
        };
        $(document).ready(function () {

            $('#b-close,#b-save,#b-look').bind('click', function () {
                if ($(this).hasClass('disabled')) return;
                var action = $(this).attr('action');
                new PageAction()[action]();
            });
            $(".dropzone").dropzone({
                url: "/FReportMain/Upload",
                addRemoveLinks: true,
                dictRemoveLinks: "x",
                dictCancelUpload: "x",
                maxFiles: 1,
                maxFilesize: 5,
                acceptedFiles: ".xls,.xlsx,.doc,.docx",
                init: function () {
                    var me = this;
                    this.on("addBeforefile", function () {
                        this.removeAllFiles();
                    });
                    this.on("success", function (file, responseText, s) {
                        $('#txtUrl').val(responseText.data.replace(/\\/g, '/'));
                        $("#txtUrlMsg").html();
                        $('#b-look').removeClass("disabled");
                    });
                    this.on("removedfile", function (file) {
                        $('#txtUrl').val('');
                        $('#b-look').addClass("disabled");
                    });
                }
            });
            $("#CheckSwitch").bootstrapSwitch({
                onText: '启用',
                offText: '停用',
                state: $('#txtStop').val() != '1'
            });

        })
    </script>
</head>
<body style="background: white; border:0px; margin:10px;"> @*background: #f6f6f6;*@
       <div style="margin: 0px auto; width: 100%; height: auto; "> @*background: url(../../Content/Img/border.jpg)*@
        <table width="100%">
        <tr>
            <div style="text-align:left; margin:0px auto;" >
                <a class="button button-rounded button-flat-highlight" id="b-close" action="GoBack" href="#">返回</a>
                <a class="button button-rounded button-flat-action" id="b-save" action="Save" href="#">保存</a>
                <a class="button button-rounded button-flat-caution  @ViewData["YLState"]" id="b-look" action="Look" href="#">预览</a>
            </div> 
        </tr>
         
               

        <tr>
            <td class="tdText">
                <label ><font color="red">*</font>报表名称  &nbsp </label>
                <div>
                 <input placeholder="请输入报表名称" maxlength="30" class="input-xlarge" id="txtBBMC" onblur="CheckField1('txtBBMC','Title','报表名称')" name="txtBBMC" value="@ViewData["Title"]"  type="text" />

                  <span style="padding:3px 0px 0px 0px;position:absolute"><img  id="txtBBMCImg"src="" class="vaildHide"/></span>
                </div>
                 <div id="txtBBMCMsg"></div>
            </td>
            <td class="tdText" >
                @*<label> &nbsp </label>           
                <div > 
                 <input id="CheckSwitch" type="checkbox" />
                </div> *@
                @*<label style="display:none;"><font color="red">*</font>关键字  &nbsp </label>
                <div style="display:none;">
                <input placeholder="请输入关键字" type="text" @ViewData["eState"] class="form-control" id="txtGJZ" onblur="CheckField1('txtGJZ','ReportKey','关键字')" name="txtGJZ" value="@ViewData["ReportKey"]">
                <span style="padding:3px 0px 0px 0px;position:absolute"><img  id="txtGJZImg"src="" class="vaildHide"/></span>
                </div>
                <div id="txtGJZMsg" style="display:none;"></div>*@
                
            </td>
           
        </tr>
        <tr>
            <td class="tdText" colspan="2">
                <label>图片  &nbsp </label>
                <div style="width:100px;height:100px;background-color:White;overflow:hidden">
                    <img id="logo" src="" style="width:100px;height:100px;"/>
                    <input style="display:none;" id="txtLogo" type="text" />
                </div>
                <form id="ifrom"  enctype="multipart/form-data" method="post" style="border:none;">
                    <input name="img" type="file" accept=".jpg" style="border:none;width:70px;" onchange="logoupload(this.value)">
                </form>
                
            </td>
        </tr>
        <tr>
            <td class="tdText" colspan="2">
                <label style="display:none;"><font color="red">*</font>生成URL  &nbsp </label>
                <div style="display:none;">
                    <input disabled placeholder="" style="width:75%" maxlength="100" class="input-xlarge" id="txtUrl" value="@ViewData["CreateUrl"]"  type="text" />
                </div>
                
            </td>
        </tr>
      </table>
       </div>
       <div  class="dropzone" ></div>
      @* <iframe id='itest' style="top:400px;width:100%;height:400px;position:absolute;z-index:1;" frameborder=0 src="http://www.baidu.com" scrolling=auto >*@
       
       <input id="txtGUID" name="txtGUID" type="hidden" value="@ViewData["Id"]" />
       <input id="txtStop" name="txtGUID" type="hidden" value="@ViewData["Stoped"]" />
 
</body>
</html>
