@{
    Layout =null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
      <link href="../../Content/Css/font-awesome.min.css" rel="stylesheet" type="text/css" />   
    <link href="../../Content/Css/bootstrap.css" rel="stylesheet" type="text/css" />
     <link href="../../Content/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
     <link href="../../Content/Css/button.css" rel="stylesheet" type="text/css" />
  
    @*<link href="../../Content/Css/public.css" rel="stylesheet" type="text/css" />*@

    <!--[if IE 7]>
     <link href="../../Content/Font-Awesome-3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet"
        type="text/css" />
    <![endif]-->
    <script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../../Scripts/json2.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var Id = $("#GUID").val(); //""表示新增  有值 表示修改
            debugger
            if (Id == "" || Id == undefined) {
                $("#title").html("添加");
                $("#btn_signIn").show(); //
                $("#btn_save").hide();
            }
            else {                
                $("#title").html("编辑");
                $("#btn_signIn").hide(); //
                $("#btn_save").show();
            }

            SetDefault(Id);
            $("#btn_save").bind("click", Save);

        });
        ///spanLoginKeyMsg
        function CheckLoginKey(e) {

            var LoginKey = $("#LoginKey").val();
            debugger
            if (CheckLoginKeyData(LoginKey) == false) return;
            $.ajax({
                url: "/Account/Save",
                data: { LoginKey: LoginKey },
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    var imageName = $("#imgLoginKeyMsg")[0];
                    imageName.style.display = "block";
                    debugger
                    if (data != null) {
                        if (data.result == 0) {
                            imageName.src = "../../Content/Img/imageSuccess.jpg";
                        }
                        else {
                            imageName.src = "../../Content/Img/imageError.jpg";
                            $("#spanLoginKeyMsg").html("<font color='red'>此账号已经注册！</font>");


                        }
                    }
                    else {
                        imageName.src = "../../Content/Img/imageError.jpg";
                        $("#spanLoginKeyMsg").html("<font color='red'>校验失败！</font>");

                    }
                },
                error: function () {
                    var imageName = $("#imgLoginKeyMsg");
                    imageName.style.display = "block";
                    imageName.src = "../../Content/Img/imageError.jpg";
                    $("#spanLoginKeyMsg").html("<font color='red'>网络原因，校验失败！</font>");
                }

            });
        }
        function CheckName(e) {
            //focus()
            var oName = $("#Name");
            var Name = oName.val();
            if (CheckNameData(Name) == false) return;
            $.ajax({
                url: "/Account/Save",
                data: { Name: Name },
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    var imageName = $("#imgNameMsg")[0];
                    imageName.style.display = "block";
                    debugger
                    if (data != null) {
                        if (data.result == 0) {
                            imageName.src = "../../Content/Img/imageSuccess.jpg";
                        }
                        else {
                            imageName.src = "../../Content/Img/imageError.jpg";
                            $("#divNameMsg").html("<font color='red'>此用户已经注册！</font>");
                           

                        }
                    }
                    else {
                        imageName.src = "../../Content/Img/imageError.jpg";
                        $("#divNameMsg").html("<font color='red'>校验失败！</font>");
                        

                    }
                },
                error: function () {
                    var imageName = $("#imgNameMsg");
                    imageName.style.display = "block";
                    imageName.src = "../../Content/Img/imageError.jpg";
                    $("#divNameMsg").html("<font color='red'>网络原因，校验失败！</font>");
                    
                }

            });
        }

        function Save() {        
            //检查
            if (Check() == false) return;
            var Name = $("#Name").val();            
            var LoginKey = $("#LoginKey").val();
            var Address = $("#Address").val();
            var Phone = $("#Phone").val();
            var isStop=$("#Stoped").attr("checked");
            var Stoped = (isStop == "checked" || isStop=="true") ? true : false;
            // data["CreateDate"] = $("#CreateDate").val();
            // data["ModifyDate"] = $("#ModifiedDate").val();
            var Password = $("#Password").val();
            // data["OrderNumber"] = $("#OrderNumbet").val();
            //data["Creator"] = $("#CreateorId").val();
            var Id = $("#GUID").val();
            var data={Name:Name,LoginKey:LoginKey,Address:Address,Phone:Phone,Stoped:Stoped,Password:Password,Id:Id};
            $.ajax({
                url: "/Account/Save",
                data: data,
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    if (data != null) {
                        if (data.result == 0) {
                            alert("保存成功！");
                        }
                        else {
                            alert("保存失败！");
                        }
                    }
                    else {
                        alert("保存失败！");
                    }
                }

            });
        }
        function SetDefault(id) {
            if (id!= "") {
                $("#CompanyName").attr("disabled", "disabled");
                $("#ComPanyKey").attr("disabled", "disabled");
            }           
        }
        function Close() {
            if (confirm('确定要关闭吗?')) {
                window.opener = null;
                window.open("", "_self");
                window.close();
            }
        }

        function CheckNameData(Name) {
            if (Name == "" || Name==undefined) {
                alert("公司名称不能为空！");
                return false;
            }
            else {
                var nameLen = Name.length;
                if (nameLen > 100) {
                    alert("公司名称字符长度不能大于100字节！");
                    return false;
                }
            }
            return true;
        }

        function CheckLoginKeyData(LoginKey) {
            debugger
            if (LoginKey == "" || LoginKey == undefined) {
                alert("账号名称不能为空！");
                return false;
            }
            else {
                var LoginKeyLen = LoginKey.length;
                if (LoginKeyLen > 50) {
                    alert("账号最长不能超过50字节！");
                    return false;
                }
            }
            return true
        }
        function Check() {

            var Name = $("#Name").val();
            if (CheckNameData(Name) == false) { 
                return false
            }
            var LoginKey = $("#LoginKey").val();
            debugger
            if (CheckLoginKeyData(LoginKey) == false) {
                return false;
            }
            var Password = $("#Password").val();
            if (Password == "") {
                alert("密码不能为空！");
                return false;
            }
            else {
                var PasswordLen = Password.length;
                if (PasswordLen > 50) {
                    alert("密码最长不能超过50字节！");
                    return false;
                }
            }
            var Address = $("#Address").val();
            if (Address == "") {
                alert("地址不能为空！");
                return false;
            }
            else {
                var AddressLen = Address.length;
                if (AddressLen > 150) {
                    alert("地址最长不能超过150字节！");
                   return false;
                }
            }
            var Phone = $("#Phone").val();
            if (Phone == "") {
                alert("电话不能为空！");
                return false;
            }
            else {
               
                if (istell(Phone) == false) {
                    alert("电话格式不正确！\n 格式：固定电话 0511-4405222 或 021-87888822 \n 或者手机号码");
                    return false;
                }
                var PhoneLen = Phone.length;
                if (PhoneLen > 20) {
                    alert("电话最长不能超过20字节！");
                    return false;
                }                
            }
            //var Stoped = $("#Stoped").val() == "1" ? true : false;
            // var Id = $("#GUID").val();
            return true;
        }
    
    //匹配国内电话号码(0511-4405222 或 021-87888822)
        function istell(str) {   
//        var result = str.match(/\d{3}-\d{8}|\d{4}-\d{7}/);
//        var phone = str.match(/^1[35]\d{9}$/);
//        if (result == null && phone == null) return false;

        var reg1 = /\d{3}-\d{8}|\d{4}-\d{7}/;
        var reg2 = /^1[35]\d{9}$/;
        var result=reg1.test(str);
        var phone=reg2.test(str);
        if(result==false && phone==false)
        {
            return false;
        }
       return true;
    }
    </script>
    <style type="text/css">
        table
        {
            width:80%;
            height:300px;
            text-align:center;
            
        }
        tr 
        {
             height:30px;    
        }
        .tdtitle
        {
            text-align:right; 
            width:50px;
               
        }
        .tdText
        {
             text-align:left;  
             width:600px; 
             
        }
        
       *{padding: 0px;margin: 0px; font-size: 13px;font-family:"微软雅黑","SimSun","Arial Narrow";color: #444;}

        .accountinfo p{width:400px;padding-bottom: 10px;}
        .accountinfo p label{display: block;height:26px;line-height: 26px;}
       
        input{border: 1px solid #ccc;border-radius: 4px;height: 24px;line-height: 24px;vertical-align:middle;}
        input[type=checkbox]{border: 1px solid #fff;}
        input[type="text"]:focus,
        input[type="password"]:focus{
            border-color: rgba(82, 168, 236, 0.8);
            outline: 0;
            outline: thin dotted \9;
            /* IE6-9 */
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        }
        input
        {
             width:300px;    
        }
        span
        {
            float:left;    
        }
        
    </style>
    
     
</head>
<body style=" background: #f6f6f6;border:0px">
    <div style="text-align:center" class="accountinfo">
    <form  id="from" class="form-horizontal">
    <fieldset style="text-align:center">
      <div id="legend" class="">
        <legend id="title" class=""></legend>
      </div>

       <div style="text-align:left; margin:0px 0px 20px 100px">
         <a class="button button-rounded button-flat-primary" id="btn_signIn" href="#"><i class="icon-save"></i>注册</a> 
        <a class="button button-rounded button-flat-primary" id="btn_save" href="#"><i class="icon-save" style="display:none"></i>确定</a>  &nbsp &nbsp&nbsp&nbsp&nbsp
        <a class="button button-rounded button-flat-primary" id="btn_close" onclick="Close()" href="#"><i class="con-off"></i>关闭</a>

       </div> 

      

      <table>
        <tr>
            <td class="tdtitle" >
            
            </td>
            <td class="tdText">  
             <p>

             <label>公司名 &nbsp </label>                     
             <span><input placeholder="请输入公司名称" id="Name" name="Name" onblur="CheckName(this)" value="@ViewData["Name"]" class="input-xlarge" type="text" /></span><span><img  id="imgNameMsg"src="" style="display:none"/></span><span id="divNameMsg"></span>
             </p>
            
            </td>

             <td class="tdtitle" ></td>
            <td class="tdText" >
            <p>
            <label>订单号  &nbsp </label>
            <input disabled="disabled" id="OrderNumber" value="@ViewData["OrderNumber"]" name="OrderNumber" class="input-xlarge" type="text" />
            </p>
            
            </td>
        </tr>

         <tr>            
            <td class="tdtitle" ></td>
            
            <td class="tdText" >
            <p>
            <label>账号  &nbsp </label>
             <span><input placeholder="请输入用户名称" id="LoginKey" value="@ViewData["LoginKey"]" onblur="CheckLoginKey()" name="LoginKey" class="input-xlarge" type="text" /></span>
             <span><img  id="imgLoginKeyMsg"src="" style="display:none"/></span>
             <span id="spanLoginKeyMsg"></span>
            </p>           
            </td>
            <td class="tdtitle"></td>
            <td class="tdText"> 
            <p>
            <label >密码 &nbsp </label>
            <input placeholder="请输入密码" id="Password" name="Password" value="@ViewData["Password"]" class="input-xlarge" type="text" />
            </p>
            </td>

        </tr>
         
        
         <tr>
            
            <td class="tdtitle"></td>
            <td class="tdText" >
            <p>
            <label>电话  &nbsp </label>
            <input placeholder="请输入电话" class="input-xlarge" id="Phone" name="Phone" value="@ViewData["Phone"]" type="text" />
            </p>
            </td>

            <td class="tdtitle">
                
            </td>
            <td class="tdText"> 
            <p>
            <label >创建人&nbsp </label>
            <input class="input-xlarge" disabled="disabled" id="CreateorId" name="CreateorId" value="@ViewData["CreateorName"]" type="text" />
            </p>
            </td>
        </tr>
         <tr>
            <td class="tdtitle"></td>
            <td class="tdText"> 
            <p>
            <label >创建时间  &nbsp </label>
            <input class="input-xlarge" id="CreateDate" disabled="disabled" name="CreateDate" value="@ViewData["CreateDate"]"  type="text" />
            </p>
            </td>
            <td class="tdtitle"></td>
            <td class="tdText" >
            <p>
            <label >修改时间  &nbsp </label>
            <input  class="input-xlarge" disabled="disabled" id="ModifiedDate" name="ModifiedDate" value="@ViewData["ModifiedDate"]" type="text" />
            </p>
            </td>
        </tr>
        <tr>
            <td class="tdtitle"></td>
            <td class="tdText" colspan="3">
            <p> 
            <label >地址  &nbsp </label>
            <input placeholder="请输入地址" style=" width:850px" class="input-xlarge" id="Address" name="Address" value="@ViewData["Address"]"  type="text" />
            </p>
            </td>
           
        </tr>
        <tr>
            <td class="tdtitle"></td>
            <td class="tdText">
            <p>
            <label>可用  &nbsp </label>
            <input  style=" width:20px" type="checkbox" id="Stoped" name="Stoped" checked="@ViewData["Stoped"]" />
            </p>
              
            </td>
            <td></td>
            <td></td>

        </tr>
        
      </table>
      <div>       
       <input  id="createorID"  type="hidden" value="@ViewData["createorID"]" />
        <input id="GUID" name="Id" type="hidden" value="@ViewData["Id"]" />
      </div>
      
      
    </fieldset>     
  </form>
    </div>
</body>
</html>
