@{
    Layout = "../Master/_CheckSession.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="../../Content/Css/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />      
    <link href="../../Content/Css/bootstrap.css" rel="stylesheet" type="text/css" />
     <link href="../../Content/Css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Css/button.css" rel="stylesheet" type="text/css" />   
    <link href="../../Content/Css/select.css" rel="stylesheet" type="text/css" /> 

    <script src="../../Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>        
   
   <script src="../../Scripts/layer.js" type="text/javascript"></script>
    <script src="../../Scripts/numeralInput.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        var passwordField = "password";
        var phoneField = "phone";
        var addressField = "address";
        $(document).ready(function () {
            BindEvent();
            layer.use('../../Scripts/layer.ext.js', function () {
                layer.ext = function () {
                    layer.promptExtend(); //.prompt();
                }
            })
        });
        function BindEvent() {
            $("a[name='edit']").bind("click", function (e) {
                
                var updateField = $(e.target).parent().attr("t");
                var pType = 0;
                var title = "提示";
                var len = 100;
                var heigth = "200px";
                var width = "300px";
                if (updateField == passwordField) {
                    pType = 1;
                    title = "修改密码";
                    len = 50;
                    heigth = "150px";
                }
                else if (updateField == addressField) {
                    pType = 3;
                    title = "修改地址";
                    len = 150;
                }
                else if (updateField == phoneField) {
                    title = "修改电话";
                    len = 20;
                    heigth = "180px";
                }
                //密码文本 CheckPhone fieldName == 'phone'
                layer.promptExtend({ title: title, type: pType, length: len, fieldName: updateField, height: heigth, width: width }, function (val, index, elem) {
                    Save(val, updateField);
                })
            });

        }
        function MsgPrompt(title, ptype, value) {
            layer.prompt({ title: title, type: ptype, val: value }, function (val, index, elem) {
                if (updateField == phoneField) {
                    if (CheckPhone(val) == false) {
                        MsgPrompt(title,ptype,val);
                        return;
                    }
                }
                else if (updateField == addressField) {

                }
                Save(val, updateField);
            })
        }
        
       

        function Save(val, updateField) {            
            var Id = $("#GUID").val(); 
            if (Id == "" || Id == undefined) { 
                layer.msg("无效账号！");
                return;
            }
           
            var Name = $("#Name").val();
            var OrderNumber = $("#OrderNumber").val();
            var LoginKey = $("#LoginKey").val();
            var Password = ""; //$("#Password").val();
            if (updateField == passwordField) {
                Password = val;
            }
            var Phone = $("#Phone").val();
            if (updateField ==phoneField) {
                Phone = val;
                //if (CheckPhone(Phone) == false) return;
            }
            var Creator = $("#Creator").val();
            var CreateDate = $("#CreateDate").val();
            var Address = $("#Address").val();
            if (updateField ==addressField) {
                Address = val;
            }
            var Stoped = $("#Stoped").val()=="true"?true:false;
            var data = { Name: Name, OrderNumber: OrderNumber, LoginKey: LoginKey, Address: Address, Phone: Phone, Stoped: Stoped, Password: Password, Id: Id, Creator: Creator, CreateDate: CreateDate, updateField:updateField };
                $.ajax({
                    url: "/CompanyAccount/Save",
                    data: data,
                    dataType: "JSON",
                    type: "POST",
                    success: function (data) {
                        if (data != null) {
                            if (data.result == 0) {                               
                                layer.msg("操作成功！");
                                CloseBack();
                            }
                            else {
                                layer.msg("保存失败！");
                            }
                        }
                        else {
                            layer.msg("保存失败！");
                        }
                    }

                });
        }
        
        function CloseBack() {
            var urlaccount = '/FReportUserAttention/Index';
                window.parent.ControlIFrame(urlaccount);
          
        }
        
        //校验Phone
       function CheckPhone(val) {
//            var Phone = val;
//            if (Phone == "") {
//                $("#divPhoneMsg").html("电话不能为空！");
//                return false;
//            }
//            else {

//                if (istell(Phone) == false) {
//                    $("#divPhoneMsg").html("<font color='red'>电话格式不正确!\n 格式：固定电话 0511-4405222 或 021-87888822 \n 或者手机号码</font>！");
//                                      
//                    return false;
//                }
//                var PhoneLen = Phone.length;
//                if (PhoneLen > 20) {
//                    $("#divPhoneMsg").html("<font color='red'>电话最长不能超过20字节！</font>");
//                    return false;
//                }
//                else {
//                    $("#divPhoneMsg").html("");
//                }
//            }

            return true;
    }

//        function CheckPhone(val) {
//            var Phone = val;
//            if (Phone == "") {
//                return "电话不能为空！";               
//            }
//            else {

//                if (istell(Phone) == false) {
//                   return "<font color='red'>电话格式不正确!\n 格式：固定电话 0511-4405222 或 021-87888822 \n 或者手机号码</font>！";

//                }
//                var PhoneLen = Phone.length;
//                if (PhoneLen > 20) {
//                   return "<font color='red'>电话最长不能超过20字节！</font>";                   
//                }
//                
//            }

//            return "";
//        }


//        //匹配国内电话号码(0511-4405222 或 021-87888822)
//        function istell(str) {          
//            var reg1 = /\d{3}-\d{8}|\d{4}-\d{7}/;
//            var reg2 = /^1[35]\d{9}$/;
//            var result = reg1.test(str);
//            var phone = reg2.test(str);
//            if (result == false && phone == false) {
//                return false;
//            }
//            return true;
//        }


    </script>
    <style type="text/css">
       
        
       *{padding: 0px;margin: 0px; font-size: 13px;font-family:"微软雅黑","SimSun","Arial Narrow";}

        .accountinfo p{width:400px;padding-bottom: 10px;}
        .accountinfo p label{display: block;height:26px;line-height: 26px;}
       
        input{border: 1px solid #ccc;border-radius: 4px;height: 24px;line-height: 24px;vertical-align:middle;}
        input[type=checkbox]{border: 1px solid #fff;}
        input[type="text"]:focus,
        input[type="password"]:focus{
            border-color: rgba(82, 168, 236, 0.8);
            outline: 0;
            outline: thin dotted \9;
            /* IE6-9 */
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        }
         input[type="text"]
        {
             width:100%; 
             height:40px;
             padding:2px; 
               
        }
        
        .showMsg{ height:15px;
                   text-align:left;
                }
        a:visited{
        text-decoration:none;
        }
        a:hover{
        text-decoration:none;       
        }
        a:active{
        text-decoration:none;
        }
        .div_item_title
        {
            text-align:left;
            font-size:x-large;
        }
        .div_item_content
        {
            text-align:left;
            padding:10px 0px 0px 100px; 
        }
        .div_item_content ul
        {
            list-style-type:none;
        }
        .div_item_List
        {
             text-align:left;  
             padding:10px 0px 0px 100px;            
        }
        .div_item_List ul
        {
            list-style-type:none;            
            
        }
       
        
        .div_item_List_table
        {
             width:600px;
             border:5px;
             
        }
        .div_item_List_tbody
        {
            text-align:left; 
        }
        .div_item_List_thead tr th
        {
            height:20px;
            border:1px solid #ff00ff;
            cellspacing:0px;
            text-align:center;
            
        }
        .div_item_List_tbody tr td
        {
             height:20px; 
             border:1px solid #ff00ff;
             cellspacing:0px;
             text-align:center;
        }
       .div_item_content a:hover, a:focus {
        color:#21b384;
        }
        .div_item_content a{
        color:Black;
        }
    </style>
    
     
</head>
<body style="background: white; border:0px; margin:10px;"> @*background: #f6f6f6;*@
    <div style="text-align:center;margin: 0px auto; " class="accountinfo">
    <form  id="from" class="form-horizontal">
       @*<div style="text-align:left; margin:0px auto;" >
        <a class="button button-rounded button-flat-highlight" id="btn_close" onclick="CloseBack()" href="#">返回</a>       
        
       </div> *@
       <div style="margin: 30px auto; text-align:left; width: 100%; height: auto; "> 
        <div class="div_item_title">
            公司信息:
        </div>
        <div class="div_item_content">
            <ul>
                <li>订&nbsp 单&nbsp 号:&nbsp&nbsp&nbsp&nbsp @ViewData["OrderNumber"]</li>
                <li>公司名称:&nbsp&nbsp&nbsp&nbsp @ViewData["Name"]</li>
                <li>账&nbsp&nbsp&nbsp&nbsp&nbsp 号:&nbsp&nbsp&nbsp&nbsp @ViewData["LoginKey"]</li>                
                <li>电&nbsp&nbsp&nbsp&nbsp&nbsp 话:&nbsp&nbsp&nbsp&nbsp @ViewData["Phone"]&nbsp&nbsp&nbsp&nbsp <a href="#" name="edit" t='phone' title="修改电话"><i class="fa fa-pencil-square-o"></i></a><div id="divPhoneMsg"></div></li>                
                <li>地&nbsp&nbsp&nbsp&nbsp&nbsp 址:&nbsp&nbsp&nbsp&nbsp @ViewData["Address"]&nbsp&nbsp&nbsp&nbsp <a href="#" name="edit" t='address' title="修改地址"><i class="fa fa-pencil-square-o"></i></a></li>
                @*<li>是否停用:"@ViewData["Stoped"]"</li>*@
                <li>密&nbsp&nbsp&nbsp&nbsp&nbsp 码:&nbsp&nbsp&nbsp&nbsp ****** &nbsp&nbsp&nbsp&nbsp <a href="#" name="edit" t='password'  title="修改密码"><i class="fa fa-pencil-square-o"></i></a></li>            
            </ul>
        </div> 
        <div class="div_item_title">
          授权信息：
        </div>
        <div class="div_item_List" id="div_item_List">
            
            @{
                var str = string.Empty;
                var list = (List<weixinreportviews.Model.SS_LisenceView>)ViewData["SS_LisenceList"];
                if (list != null && list.Count > 0)
                {
                    int i=0;
                    foreach (weixinreportviews.Model.SS_LisenceView item in list)
                    {
                        i++;
                       <ul>
                       <li>@i . 订单号:@item.OrderNumber&nbsp&nbsp&nbsp&nbsp 授权有效期:@item.EffectiveDateDisplay 至 @item.ExpiryDateDisplay &nbsp&nbsp&nbsp&nbsp 授权点:@item.LisencePoint &nbsp&nbsp&nbsp 停用:@item.StopedDisplay</li>
                       </ul>
                    }
                }
                else
                {
                      <ul>
                       <li>无授权信息！</li>
                      </ul>  
                }
             }

            @*<table class="div_item_List_table">
                   <thead class="div_item_List_thead">
                   <tr>
                        <th>订单号</th>
                        <th>授权有效时间</th>
                        <th>授权点数</th>
                        <th>是否停用</th>
                   </tr>
                   </thead>
                   <tbody  class="div_item_List_tbody">
                        <tr>
                        <td>@ViewData["OrderNumber"]</td>
                        <td>@ViewData["OrderNumber"]</td>
                        <td>@ViewData["OrderNumber"]</td>
                        <td>@ViewData["OrderNumber"]</td>
                        </tr>
                   </tbody>
            </table>*@
          
        </div>             
       
       </div>
    

      <div>  
          
       <input  id="Creator"  type="hidden" value="@ViewData["Creator"]" />
       <input id="GUID" name="Id" type="hidden" value="@ViewData["Id"]" />
       <input id="AcitonId"  type="hidden" value="@ViewData["AC"]" />
       <input type="hidden" id="Stoped" name="Stoped" value="@ViewData["Stoped"]" />
       <input id="ProductKind" value="@ViewData["ProductKind"]"  name="LoginKey"  type="hidden" />
       <input id="Name" name="Name" value="@ViewData["Name"]" class="input-xlarge" type="hidden" />
       <input id="OrderNumber" value="@ViewData["OrderNumber"]" name="OrderNumber" class="input-xlarge" type="hidden" />
       <input id="LoginKey" value="@ViewData["LoginKey"]"  name="LoginKey" class="input-xlarge" type="hidden" />            
      
       <input  id="Phone"  name="Phone" value="@ViewData["Phone"]" type="hidden" />
       <input id="CreateorId" name="CreateorId" value="@ViewData["CreateorName"]" type="hidden" />
       <input  id="CreateDate" name="CreateDate" value="@ViewData["CreateDate"]"  type="hidden" />
       <input id="ModifyDate" name="ModifyDate" value="@ViewData["ModifyDate"]" type="hidden" /> 
       <input id="Address"  name="Address" value="@ViewData["Address"]"  type="hidden" />
         
      </div>
      
      @*<div id="msgWin">
         <div>
          <label>aa</label>
          <input type='text' />
        </div>
        <div>
            <a class="button button-rounded button-flat-highlight" id="btn_save" onclick="CloseBack()" href="#">确定</a>       
            <a class="button button-rounded button-flat-highlight" id="btn_cancel" onclick="CloseBack()" href="#">取消</a>       
        
        </div>
        
      </div>*@
      
  </form>
    </div>
</body>
</html>
